h1{
    text-align: center;
}
p{
    color:brown;

}
.pro{
    background-color:rgb(0, 0, 0);
}
table{
    background-color:cadetblue;
}
fieldset{
    max-width: 300px;
    height: 550px;
   margin: 5px;
   background-color:cadetblue;
   padding:10px;
}
h2{
    color:rgb(1, 1, 75);
    text-align: center;
    padding:5px;
    margin:5px
}
#name{
    padding-left:5px;
    padding-right:95px;
    padding-top:5px;
    padding-bottom:5px;
}
#lastname{
    margin-right: 50px;
    padding-left:5px;
    padding-right:95px;
    padding-top:5px;
    padding-bottom:5px;
}
#email{
    padding-left:5px;
    padding-right:95px;
    padding-top:5px;
    padding-bottom:5px;
}
#age{
    padding-left:5px;
    padding-right:95px;
    padding-top:5px;
    padding-bottom:5px;
}
#password{
    padding-left:5px;
    padding-right:95px;
    padding-top:5px;
    padding-bottom:5px;
}
#confirmPassword{
    padding-left:5px;
    padding-right:95px;
    padding-top:5px;
    padding-bottom:5px;
}
#reset{
        padding-left:15px;
        padding-right:15px;
        padding-top:5px;
        padding-bottom:5px;
}
#Education{
    padding-left:5px;
        padding-right:5px;
        padding-top:5px;
        padding-bottom:5px;
}